.bannerParentDiv {
  padding-top: 4em;
  /* cursor: pointer; */
} 

.bannerParentDiv .bannerChildDiv .menuBar {
  display: flex;
  padding: 10px 16px 10px 16px;
  background-color: #c3e6eb;
}



.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
  margin-right: 16px;
  font-weight: bolder;
  /* cursor: pointer; */
}


.bannerParentDiv .bannerChildDiv .menuBar .to_point span {
  padding: 10px;
}

.bannerChildDiv .banner {
  position: relative;
  width: 100vw;
}
.bannerChildDiv .banner img{
  width: 100vw;
}

@media only screen and (max-width: 700px) {
  .otherQuickOptions {
    display: none;
  }
  .bannerChildDiv .banner {
    position: relative;
    /* cursor: pointer; */
  }
}

.to_point span{
  cursor: pointer;
  
}


.ss1{
  cursor: pointer;
}